<!-- Header Component Start -->
<div id="header-component">
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row g-0 d-none d-lg-flex">
            <div class="col-lg-6 ps-5 text-start">
                <div class="h-100 d-inline-flex align-items-center text-light">
                    <span>Follow Us:</span>
                    <a class="btn btn-link text-light" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link text-light" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-link text-light" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-link text-light" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                    <span class="me-2 fw-semi-bold">
                        <i class="fa fa-phone-alt me-2"></i>Contact Us:
                    </span>
                    <span>+91 9876543210</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="../../index.html" class="navbar-brand d-flex align-items-center">
            <h2 style="margin-left: 60px;">UnycornSolution</h2>
        </a>

        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="../../index.html" class="nav-item nav-link">Home</a>
                <a href="#services" class="nav-item nav-link">Services</a>
                <a href="#about" class="nav-item nav-link">About Us</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
                <a href="../../../blogs.html" class="nav-item nav-link">Blogs</a>
            </div>

            <div class="border-start ps-4 d-none d-lg-block">
                <button type="button" class="btn btn-sm p-0">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</div>
<!-- Header Component End -->